body {
    width: 100%;
    height: 100%;
}


/*  BACKGROUND IMAGE  */

.background-image {
    position: fixed;
    width: 200%;
    margin: auto;
    background-size: cover;
    z-index: -2;
    top: -80px;
    bottom: -80px;
    left: -80px;
    right: -80px;
}



/*   LOGO   */

#logo img{
    position: absolute;
    margin-top: -25px;
    margin-left: -15px;
    height: 173px;
    width: 203px;
}


/*   NAV BAR   */

nav {
    text-transform: uppercase;
    font-family: 'Amiri', serif;
    font-weight: 100;
    cursor: pointer;
}

nav a {
    /*color: #5B5A5F;*/
    text-decoration: none;
    margin: 1px;
    margin-top: 6px;
    margin-bottom: 10px;
    font-size: 19px;
    font-family: 'Halant', serif;
    transition: color .4s ease-out;
    padding: 8px;
    color: black;
}

nav a:hover {
    color: #2A4F9C;
    border-bottom: 1px solid #2A4F9C;
}

.nav > .nav-btn {
    display: none;
}
.nav > #nav-check {
    display: none;

}
.nav {
    position: relative;
}
.nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 0px;
}
.nav > .nav-btn > label {
    display: inline-block;
    width: 31px;
    height: 27px;
    padding: 13px;
}
.nav > .nav-btn > label:hover {
    background-color: rgba(91,90,95,.5);
    cursor: pointer;
}
.nav > .nav-btn > label:active > span {
    border-top: 1px solid white;
}
.nav > .nav-btn > label > span {
    display: block;
    height: 10px;
    border-top: 1px solid #2A4F9C;
}
.nav > .nav-links {
    position: absolute;
    display: block;
    width: 50%;
    background-color: rgba(91,90,95,.5);
    color: white;
    height: 0px;
    overflow-y: hidden;
    top: 20px;
    right:25px;
    z-index: 2;
}
.nav > .nav-links > a {
    display: block;
    width: 30%;
}

.dropdown {
    position: relative;
    display: inline-block;
    top: 14px;
    left: -4px;
}
.droplinks {
    display: none;
    position: absolute;
    background-color: rgba(91,90,95,.5);
    /*width: 105px;*/
    width: 112px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}
.dropdown a:hover {
    border-bottom: none;
}
.dropdown:hover > .droplinks {
    display: block;
    top: 39px;
    /*left: -13px;*/
    left: -20px;
    /*height: 160px;*/
    border: 1px solid rgba(91,90,95,.8);
    border-top: none;
}


.nav > #nav-check:not(:checked) + div.nav-links {
    height: 0px;
    transition: 0s;
}
.nav > #nav-check:checked + div.nav-links {
    margin-top: -20px;
    margin-right: 57px;
    height: 53px;
    width: 420px;
    display: flex;
    overflow-y: visible;
}

/*BOOKING CSS*/


#book {
    position: absolute;
    margin-top: 20vh;
    margin-right: 30%;
    margin-left: 30%;
    width: 40%;
    text-align: center;
    color: #3477B8;
    /*background-color: #5B5A5F;*/
    font-family: 'Amiri', serif;
    font-weight: 300;
    font-size: 90px;
}


h5 {
    margin-top: 1px;
    margin-bottom: -13px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 250;
}


#form {
    position: absolute;
    /*position: fixed;*/
    margin-top: 45vh;
    text-align: center;
    width: 60%;
    height: 90%;
    margin-left: 20%;
    margin-right: 20%;
    display: inline-block;
    background-color: #5B5A5F; 
    /*background-color: #2A4F9C;*/
    color: white;
}

.formcontent {
    margin-top: 10%;
}

.formcontent input{
    margin: 15px;
    width: 50%;
    height: 30px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 250;
}

.formcontent input:focus {
    color: #3477B8;
    border: 2px solid #3477B8;
}

#comment textarea {
    width: 70%;
    height: 300px;
}

.formcontent textarea {
    margin: 15px;
    width: 50%;
    height: 30px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 250;
    resize: none;
}

.formcontent textarea:focus {
    color: #3477B8;
    border: 2px solid #3477B8;
}

.formcontent button {
    padding: 3px;
    margin: 50px;
    width: 30%;
    height: 40px;
    color: white;
    background-color: #3477B8;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 250;
    cursor: pointer;
}

.formcontent button:active {
    /*color: #3477B8;*/
    /*border: 2px solid #2A4F9C;*/
    background-color: #2A4F9C;
}

/*  ABOUT TEXT BOX  */

#contact {
    position: absolute;
    width: 100%;
    height: 160px; 
    z-index: 0;
    margin-top: 1700px;
    /*margin-top: 2230px;*/
    /*margin-top: 1175px;*/
    left: 0px;
    padding: 1em;
    /*background-color: #5B5A5F;*/
    background-color: #3477B8;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    text-align: center;
}

#contactText {
    height: 200px;
}

#contact h1 {
    font-family: 'Amiri', serif;
    font-weight: 300;
    margin-bottom: -20px;
    margin-top: 0px;
    font-size: 40px;
}

#contact h4{
    margin-top: 13px;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 250;
}

#contact a {
    font-family: 'Raleway', sans-serif;
    font-weight: 250;
    color: white;
    text-decoration-line: none;
}

#contact a:active {
    color: #2A4F9C;
}

#contact #num {
    font-family: 'Raleway', sans-serif;
    font-weight: 250;
    color: white;
    text-decoration-line: none;
}



/*   FOOTER   */


#foot {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    position: absolute;
    height: 70px;
    width: 100%;
    background-color: #5B5A5F;
    margin-top: 2000px;
    padding: 1em;
    left: 0px;
}

#foot a {
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 250;
    line-height: 1.4;
}

#foot a:focus {
    color: #3477B8;
    border-bottom: 1px solid #3477B8;
}

#foot i {
    margin-right: 4px;
}





/*  SCREEN RE-SIZING */

@media screen and (max-width: 800px) {
    .nav > #nav-check:checked + div.nav-links {
        margin-top: -20px;
        margin-right: 57px;
        display: block;
        height: 145px;
        width: 180px;
        padding: 0px;
        transition: 0s;
        z-index: 2;
    }
    nav a {
        margin-bottom: -28px;
    }
    nav a:hover {
        border-bottom: none;
    }
    .nav > .nav-links > a {
        line-height: 2;
        height: 26.4%;
        margin-top: -9px;
    }
    .dropdown:hover > .droplinks {
        top: 35px;
        left: 4px;
        /*height: 140px;*/
    }
    .droplinks a {
        line-height: 1;
    }
}

@media screen and (max-width: 600px) {
    .nav > #nav-check:checked + div.nav-links {
        width: 110px;
    }
    .droplinks {
        width: 108px;
    }
    #form {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

